body {
  font-family: "Open Sans", sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  background: #040404 url("/src/media/back.jpg") top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  font-size: 20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #960284;
}

.navbar {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  font-size: 18px;
  font-weight: normal;
  scroll-behavior: smooth;
}

.navbar li a:hover {
  background-color: #272626;
}

.navbar .active {
  background-color: #960284;
  font-weight: bold;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-me .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #a80765;
}

.about-me .content ul {
  list-style: none;
  padding: 0;
}

.about-me .content ul li {
  padding-bottom: 10px;
}

.about-me .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #a80765;
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/
.interests .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
  transition: ease-in-out 0.3s;
}

.interests .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.interests .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 20px;
  color: #fff;
}

.interests .icon-box:hover {
  background: rgba(173, 29, 146, 0.12);
}

section .container {
  background: rgba(0, 0, 0, 0.9);
  padding: 30px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  padding: 5px;
  width: 99%;
  background: rgba(255, 255, 255, 0.08);
}

.contact .info-box i.bx {
  font-size: 24px;
  color: #a80765;
  border-radius: 50%;
  padding: 14px;
  float: left;
  background: rgba(255, 255, 255, 0.1);
}

.contact .info-box h3 {
  font-size: 23px;
  color: rgba(204, 1, 204, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 20px;
}

.contact .info-box p {
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 20px;
  margin: 0 0 0 68px;
}

.rounded-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.rounded-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.material-icons {
  color: #a80294;
}

.location-icon {
  color: #3498db;
  font-size: 24px;
  margin-right: 5px;
}

.cont {
  width: 100%;
  overflow: hidden; /* Clear the float */
}

.box1 {
  width: 50%;
  float: left;
}

.box2 {
  width: 50%;
  float: left;
}

.edu_container {
  display: flex;
}

.box {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid #c161b2;
  box-sizing: border-box;
}

p {
  font-size: 31px;
}

.edu{
  font-size: 22px;
}

h1 {
  font-size: 40px;
}

h2{
  font-size: 27px;
}

h3{
  font-size: 24px;
}